{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="container-fluid d-flex g-20">
        {% for listing in listings %}
        
        <div class="card" style="width: 18rem">
            <a href="{% url 'listing' listing.id %}">
            <img src="{{ listing.image_url }}" class="card-img-top" alt="...">
            <div class="card-body"> 
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                <p class="card-text">Current Price: ${{ listing.current_bid }}</p>
            </div>
            </a>
        </div>
       
        {% endfor %}
    </div>
    
{% endblock %}